Mapeador-Datos/bd/confi.py
Mapeador-Datos/servidor/start_server.bat
Mapeador-Datos/servidor/comandos-servidor-python.txt
Mapeador-Datos/servidor/server.log
Mapeador-Datos/server.log
Mapeador-Datos/processor.log
