Inventario/PythonInventarioAPI.err.log
Inventario/PythonInventarioAPI.err.log.old
Inventario/PythonInventarioAPI.exe
Inventario/PythonInventarioAPI.out.log
Inventario/PythonInventarioAPI.out.log.old
Inventario/PythonInventarioAPI.wrapper.log
Inventario/server.log
Inventario/bd/config_bd.py
Inventario/logs/start_uvicorn.log
.vscode/settings.json
