<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mxz_ruedas</name>
	<displayName><![CDATA[Configurador Ruedas Moto]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Módulo para mostrar un configurador estético de tu moto con las ruedas de Haan]]></description>
	<author><![CDATA[MxZambrana]]></author>
    <tab>front_office_features</tab>
    <ps_versions_compliancy>
        <min>1.7.0.0</min>
        <max>1.7.9.9</max>
    </ps_versions_compliancy>
</module>